.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
.flex-align-center {
  align-items: center;
}
button {
  outline: none;
  padding: 10px;
  border-radius: 5px;
}